<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @special_device_list.name %>
</p>

<%= link_to 'Edit', edit_special_device_list_path(@special_device_list) %> |
<%= link_to 'Back', special_device_lists_path %>
